<<<<<<< HEAD
/*margin:40px auto; */
.formstyle10 {
	
}

.formstyle10 .innerwrap {
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}

.formstyle10 h1 {

	background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;


	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 20px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}

.formstyle10 h1>span {
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
	color: green;
}

.formstyle10 label {
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}

.formstyle10 input[type="text"],
.formstyle10 input[type="date"],
.formstyle10 input[type="datetime"],
.formstyle10 input[type="email"],
.formstyle10 input[type="number"],
.formstyle10 input[type="search"],
.formstyle10 input[type="time"],
.formstyle10 input[type="url"],
.formstyle10 input[type="password"],
.formstyle10 textarea,
.formstyle10 select {
	
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}


.formstyle10 .section {
	font: normal 20px 'Bitter', serif;
	color: #2A88AD;
	margin-bottom: 5px;
}

.formstyle10 .section span {
	background: #2A88AD;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}

.button input[type="button"],
.button input[type="submit"] {
	background: #2A88AD;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}

.button input[type="button"]:hover,
.button input[type="submit"]:hover {
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.formstyle10 .privacypolicy {

	float: right;
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;


}

.datetime {
	display: flex;
	justify-content: space-around;
 

}

.time {
	flex: 1;
    
}



.date {
	flex: 1;
	

}

.formstyle10 #time {
height: 100px;

}

.container {
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
	justify-content: space-between;






}

.box1 {
  color: green;
	width: 60%;
	padding: 30px;

	margin-left: 50px;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);



}

.box2 {


    color: red;
	box-sizing: border-box;

	box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0px 4px 0 rgba(0, 0, 0, 0.12);

	border: none !important;
	background-color: #ffffff;
	border-radius: 2px;

	border: 2px #000;
	width: 35%;
	height: 60%;
	padding: 5px;
	position: sticky;
	top: 0;
	position: -webkit-sticky;






}







.box2 ul {
	color: blue;
	list-style: none;
	line-height: 50px;

}

.box2 h1 {
	text-align: center;
	text-transform: uppercase;
	color: steelblue;
	border-bottom: #000 solid 4px;
}



@media screen and (max-width: 1180px) {
	.box2 {

		margin-left: 1px;
		width: 100vw;
		margin-top: 10px;


	}

	.box1 {
		margin-top: 30px;
		width: 100vw;
		margin-left: 1px;
		margin-right: 1px;
		

	}

}

@media screen and (max-width:375px) {
.box1 {

	width: 100%;
	

    color: yellow;

}
.container {
	padding: 0px 1px 3px 1px;
	margin-top: 0px;
}
.formstyle10 .section span {
margin-top: -50px;
margin-left: -4px;


}


.box2 {
width: 100vw;


}

}



	.datetime {
		display: flex;
	
		flex-direction: column;
	
	}




@media screen and (min-width:632px) {
.datetime {
	display: flex;
flex-direction: row;
align-content: space-between;

}
}
.buttom {
background-image: linear-gradient(rgb(125, 197, 238), rgb(0, 140, 221) 85%, rgb(48, 162, 228));
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: relative;
    padding: 0px 12px;
    display: block;
    height: 30px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
	border-radius: 4px;
=======
/*margin:40px auto; */
.formstyle10 {
	
}

.formstyle10 .innerwrap {
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}

.formstyle10 h1 {

	background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;


	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 20px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}

.formstyle10 h1>span {
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
	color: green;
}

.formstyle10 label {
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}

.formstyle10 input[type="text"],
.formstyle10 input[type="date"],
.formstyle10 input[type="datetime"],
.formstyle10 input[type="email"],
.formstyle10 input[type="number"],
.formstyle10 input[type="search"],
.formstyle10 input[type="time"],
.formstyle10 input[type="url"],
.formstyle10 input[type="password"],
.formstyle10 textarea,
.formstyle10 select {
	
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}


.formstyle10 .section {
	font: normal 20px 'Bitter', serif;
	color: #2A88AD;
	margin-bottom: 5px;
}

.formstyle10 .section span {
	background: #2A88AD;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}

.button input[type="button"],
.button input[type="submit"] {
	background: #2A88AD;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}

.button input[type="button"]:hover,
.button input[type="submit"]:hover {
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.formstyle10 .privacypolicy {

	float: right;
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;


}

.datetime {
	display: flex;
	justify-content: space-around;
 

}

.time {
	flex: 1;
    
}



.date {
	flex: 1;
	

}

.formstyle10 #time {
height: 100px;

}

.container {
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
	justify-content: space-between;






}

.box1 {
  color: green;
	width: 60%;
	padding: 30px;

	margin-left: 50px;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);



}

.box2 {


    color: red;
	box-sizing: border-box;

	box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.12), 0 0px 4px 0 rgba(0, 0, 0, 0.12);

	border: none !important;
	background-color: #ffffff;
	border-radius: 2px;

	border: 2px #000;
	width: 35%;
	height: 60%;
	padding: 5px;
	position: sticky;
	top: 0;
	position: -webkit-sticky;






}







.box2 ul {
	color: blue;
	list-style: none;
	line-height: 50px;

}

.box2 h1 {
	text-align: center;
	text-transform: uppercase;
	color: steelblue;
	border-bottom: #000 solid 4px;
}



@media screen and (max-width: 1180px) {
	.box2 {

		margin-left: 1px;
		width: 100vw;
		margin-top: 10px;


	}

	.box1 {
		margin-top: 30px;
		width: 100vw;
		margin-left: 1px;
		margin-right: 1px;
		

	}

}

@media screen and (max-width:375px) {
.box1 {

	width: 100%;
	

    color: yellow;

}
.container {
	padding: 0px 1px 3px 1px;
	margin-top: 0px;
}
.formstyle10 .section span {
margin-top: -50px;
margin-left: -4px;


}


.box2 {
width: 100vw;


}

}



	.datetime {
		display: flex;
	
		flex-direction: column;
	
	}




@media screen and (min-width:632px) {
.datetime {
	display: flex;
flex-direction: row;
align-content: space-between;

}
}
.buttom {
background-image: linear-gradient(rgb(125, 197, 238), rgb(0, 140, 221) 85%, rgb(48, 162, 228));
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: relative;
    padding: 0px 12px;
    display: block;
    height: 30px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
	border-radius: 4px;
>>>>>>> e6ca041f8984e019191b23abc25f401e7a164900
}